:root {
  --fuente: "Montserrat", sans-serif;
  --color-primario: #46c6ec;
  --color-secundario: #eabc95;
  --color-blanco: #c2d2e581;
  --color-negro: #1f3147;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente);
  color: #fff;
}

.noticias-titulo {
  font-size: 86px;
  text-transform: uppercase;
  margin-top: 80px;
}

.noticias-flexbox {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.noticia {
  display: flex;
  background-color: #0008;
  gap: 30px;
  padding: 30px;
  box-shadow: 5px 5px 10px 1px #0005;
  border-radius: 8px;
}

.noticia-imagen {
  background: #1f3147;
  width: 500px; /* Establecemos un tamaño fijo de ancho para la imagen */
  background-size: cover; /* Asegura que la imagen se ajuste sin distorsión */
  background-position: center; /* Centra la imagen si es más grande que el contenedor */
}

.noticia-imagen img {
  display: inline-block; /* Elimina espacio debajo de la imagen */
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsión */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.noticia-info {
    width: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noticia-titulo {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
}

.noticia-descripcion {
  line-height: 150%;
  display: -webkit-box; /* Establece un contenedor tipo caja flexible */
  -webkit-box-orient: vertical; /* Define la orientación de las líneas (vertical) */
  -webkit-line-clamp: 3; /* Limita el número de líneas a 3 (ajustalo según necesidad) */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  text-overflow: ellipsis;
}

.noticia-descripcion.expandida {
  -webkit-line-clamp: unset;
  overflow: visible;
  text-overflow: initial;
  display: block;
}

.noticia-fecha {
  text-align: end;
}

.noticia-btnExpandir {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.noticia-btnExpandir:hover {
  background-color: var(--color-secundario);
}
